
*.svn-base

filtros/filtros_c/.svn/all-wcprops

filtros/filtros_c/.svn/entries

filtros/images/.svn/all-wcprops

filtros/images/.svn/dir-prop-base

filtros/images/.svn/entries

filtros/images/image.jpg

filtros/resultados_fps.txt

otros/.svn/all-wcprops

otros/.svn/dir-prop-base

otros/.svn/entries

otros/filtros_asm/.svn/all-wcprops

otros/filtros_asm/.svn/entries

*.o

otros/filtros_c/.svn/all-wcprops

otros/filtros_c/.svn/entries

otros/images/.svn/dir-prop-base

otros/images/.svn/all-wcprops

otros/images/.svn/entries

shared/.svn/all-wcprops

shared/.svn/entries

filtros/.svn/all-wcprops

filtros/.svn/dir-prop-base

filtros/.svn/entries

filtros/filtros_asm/.svn/all-wcprops

filtros/filtros_asm/.svn/entries
